:root {
    /*colors*/
--naranja: hsl(12, 88%, 59%);
--Azul: hsl(228, 39%, 23%);
--gris: hsl(227, 12%, 61%);
--negro: hsl(233, 12%, 13%);
--rosa: hsl(13, 100%, 96%);
--blanco: hsl(0, 0%, 98%);

    /* Tipografía */
--font-family: "Be Vietnam Pro", sans-serif;
--font-size: 1.6rem;
--light: 400;
--semibold: 500;
--bold: 700;

    /*Responsive*/
--mobile: 375px;
--desktop: 1440px
}


html {
    font-size: 62.5%;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: var(--font-size);
    font-family: var(--font-family);
    margin: 30px 20px 20px 30px;
    color: var(--gris);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--Azul);
}

/* header */

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

/* section hero */

.hero {
    text-align: center;
}

.contenedor-image-hero__image {
    max-width: 100%;
}

.contenedor-info-hero__title {
    font-size: 3.2rem;
    margin-top: 20px;
    margin-bottom: 10px;
}

.contenedor-info-hero__pgraph {
    line-height: 25px;
    margin-bottom: 30px;
}

.contenedor-info-hero__button {
    height: 40px;
    background-color: var(--naranja);
    padding: 0 30px 0 30px;
    color: white;
    border: none;
    border-radius: 50px;
    margin-bottom: 100px;
}